
<h2>User info</h2>
<%= image_tag 'default-image.jpg' %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th></th>
    </tr>
    <tr>
      <th>introductoin</th>
      <th></th>
    </tr>
  </tbody>
</table>
<span>
  <%= link_to 'Edit', edit_user_path(@book.user) %>
</span>


<h2>New book</h2>
  <%= form_with model: @books do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>

<h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td><%= image_tag 'default-image.jpg' %>username</td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book) %>
      <% end %>
      <% if @book.user == current_user %>
        <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
    </tr>
  </tbody>
</table>

  <%#= image_tag @book.user.get_profile_image(100, 100) %>
  <p><%#= @book.user.name %></p>
